    <footer>
        <div class="logos">
            <a href="https://rrchnm.org" target="_blank" class="rrchnm"><img src="img/rrchnm.png"></a>
            <a href="https://neh.gov" target="_blank" class="neh"><img src="img/neh.png"></a>
            <a href="https://www.archives.gov/nhprc/" target="_blank" class="nhprc"><img src="img/nhprc.png"></a>                
        </div>
        <div class="copyright">&copy; 2019 <a href="https://rrchnm.org/">RRCHNM</a></div>
        
    </footer>
    <!-- Compressed JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/js/foundation.min.js"></script>
    <script src="js/scripto.js"></script>
    <script>
      $(document).foundation();
    </script>
</body>
</html> 